* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_2 {
  width: 100%;
  height: 5283px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 6px rgba(0.07058823853731155, 0.05882352963089943, 0.1568627506494522, 0.11999999731779099);
  overflow: hidden;
}
.v20_40 {
  width: 100%;
  height: 5041px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 6px rgba(0.07058823853731155, 0.05882352963089943, 0.1568627506494522, 0.11999999731779099);
  overflow: hidden;
}
.v20_41 {
  width: 100%;
  height: 1565px;
  background: rgba(255,255,254,1);
  opacity: 1;
  position: absolute;
  top: 1038px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v20_42 {
  width: 577px;
  height: 740px;
  background: url("../images/v20_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 110px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v20_43 {
  width: 574px;
  height: 593px;
  background: url("../images/v20_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 688px;
  left: 749px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v20_44 {
  width: 574px;
  height: 473px;
  background: url("../images/v20_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 749px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v20_45 {
  width: 451px;
  color: rgba(46,46,46,1);
  position: absolute;
  top: 285px;
  left: 120px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v20_46 {
  width: 371px;
  color: rgba(25,25,25,1);
  position: absolute;
  top: 1441px;
  left: 121px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 43px;
  opacity: 1;
  text-align: left;
}
.v20_47 {
  width: 305px;
  color: rgba(27,27,27,1);
  position: absolute;
  top: 163px;
  left: 121px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_48 {
  width: 100%;
  height: 956px;
  background: rgba(255,255,254,1);
  opacity: 1;
  position: absolute;
  top: 3191px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v20_49 {
  width: 823px;
  color: rgba(116,116,116,1);
  position: absolute;
  top: 342px;
  left: 119px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_50 {
  width: 798px;
  color: rgba(157,157,157,1);
  position: absolute;
  top: 544px;
  left: 119px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_51 {
  width: 793px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 745px;
  left: 119px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_52 {
  width: 363px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 120px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 43px;
  opacity: 1;
  text-align: left;
}
.v20_53 {
  width: 212px;
  height: 72px;
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 304px;
  left: 1108px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v20_54 {
  width: 41px;
  color: rgba(220,220,220,1);
  position: absolute;
  top: 24px;
  left: 85px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_55 {
  width: 212px;
  height: 72px;
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 1108px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v20_56 {
  width: 41px;
  color: rgba(220,220,220,1);
  position: absolute;
  top: 24px;
  left: 85px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_57 {
  width: 212px;
  height: 72px;
  background: rgba(27,27,27,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 1108px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v20_58 {
  width: 41px;
  color: rgba(220,220,220,1);
  position: absolute;
  top: 24px;
  left: 85px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_59 {
  width: 140px;
  color: rgba(37,37,37,1);
  position: absolute;
  top: 689px;
  left: 119px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v20_60 {
  width: 76px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 284px;
  left: 120px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v20_61 {
  width: 84px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 489px;
  left: 120px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v20_63 {
  width: 100%;
  height: 603px;
  background: url("../images/v20_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2592px;
  left: 2px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v20_64 {
  width: 100%;
  height: 491px;
  background: url("../images/v20_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4140px;
  left: 0px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v20_65 {
  width: 100%;
  height: 288px;
  background: rgba(255,255,254,1);
  opacity: 1;
  position: absolute;
  top: 4635px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v20_66 {
  width: 128px;
  color: rgba(76,76,76,1);
  position: absolute;
  top: 81px;
  left: 145px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_67 {
  width: 115px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 32px;
  left: 145px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v20_68 {
  width: 131px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 78px;
  left: 876px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_69 {
  width: 99px;
  color: rgba(46,46,46,1);
  position: absolute;
  top: 38px;
  left: 876px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v20_70 {
  width: 62px;
  color: rgba(37,37,37,1);
  position: absolute;
  top: 80px;
  left: 664px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_71 {
  width: 68px;
  color: rgba(44,44,44,1);
  position: absolute;
  top: 118px;
  left: 448px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_72 {
  width: 63px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 159px;
  left: 664px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_73 {
  width: 66px;
  color: rgba(42,42,42,1);
  position: absolute;
  top: 37px;
  left: 664px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_74 {
  width: 55px;
  color: rgba(37,37,37,1);
  position: absolute;
  top: 160px;
  left: 448px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_75 {
  width: 53px;
  color: rgba(45,45,45,1);
  position: absolute;
  top: 119px;
  left: 664px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_76 {
  width: 43px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 80px;
  left: 448px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_77 {
  width: 36px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 38px;
  left: 448px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_78 {
  width: 100%;
  height: 1008px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v20_79 {
  width: 406px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 226px;
  left: 114px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 54px;
  opacity: 1;
  text-align: left;
}
.v20_80 {
  width: 521px;
  color: rgba(46,46,46,1);
  position: absolute;
  top: 495px;
  left: 114px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_81 {
  width: 328px;
  height: 73px;
  background: rgba(200,200,200,1);
  opacity: 1;
  position: absolute;
  top: 631px;
  left: 110px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v20_82 {
  width: 201px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 139px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_83 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 387px;
  left: 114px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 54px;
  opacity: 1;
  text-align: left;
}
.v20_84 {
  width: 193px;
  height: 73px;
  background: rgba(200,200,200,1);
  opacity: 1;
  position: absolute;
  top: 631px;
  left: 464px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v20_85 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 84px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_86 {
  width: 184px;
  height: 72px;
  background: rgba(200,200,200,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1213px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v20_87 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 74px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_88 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 889px;
  left: 830px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_89 {
  width: 256px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 889px;
  left: 81px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_90 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 889px;
  left: 478px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_91 {
  width: 206px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 833px;
  left: 111px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_92 {
  width: 188px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 838px;
  left: 821px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_93 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 889px;
  left: 1236px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_94 {
  width: 159px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 838px;
  left: 1196px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_95 {
  width: 159px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 838px;
  left: 483px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v20_96 {
  width: 90px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 77px;
  left: 119px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_97 {
  width: 67px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 77px;
  left: 249px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_98 {
  width: 34px;
  height: 33px;
  background: url("../images/v20_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 47px;
  border: 0px solid rgba(189,193,202,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v20_99 {
  width: 50px;
  color: rgba(44,44,44,1);
  position: absolute;
  top: 77px;
  left: 518px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_100 {
  width: 43px;
  color: rgba(39,39,39,1);
  position: absolute;
  top: 77px;
  left: 419px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_101 {
  width: 30px;
  color: rgba(37,37,37,1);
  position: absolute;
  top: 77px;
  left: 363px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v20_102 {
  width: 560px;
  height: 560px;
  background: url("../images/v20_102.png");
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 821px;
  border-radius: 50%;
}
